<h2 class="text-center"> List of Admins</h2>
<div class="container">
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th>num</th>
                <th>emailID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let admin of admins" >
                <td> {{ admin.aname }} </td>
                <td> {{ admin.anum }} </td>
                <td>{{ admin.aemail }}</td>
                <td>
                    <button (click) = "updateAdmin(admin.aemail)" class = "btn btn-info"> Update</button>
                    <button (click) = "deleteAdmin(admin.aemail)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
